.mat-dialog-content {
    max-height: 80vh;
}

.img {
  background-size: cover;
  border-radius: 100px;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}

.info {
  margin-bottom: 10px;
  margin-left: 20px;
}

.name {
  font-size: 1.25em;
  text-align: center;
}

.roll {
  font-size: 0.90em;
  text-align: center;
}

.dept {
  margin-bottom: 10px;
  text-align: center;
}

.right-margin {
  margin-right: 10px;
}

.text-center {
  text-align: center;
}
