<mat-dialog-content>
  <h3> Setting a custom DP </h3>
  <p>
  You can customise the image shown here by placing a custom image in your iitk webhome folder called
  <code>dp.jpg</code>/<code>dp.png</code> such that going to <code>http://home.iitk.ac.in/~yourusername/dp</code>
  opens up that particular picture.
  </p>

  <h3> How do I update the data shown here? </h3>
  <p>
    The data here is scraped from the <a href="https://oa.cc.iitk.ac.in/Oa/Jsp/Main_Frameset.jsp">Office Automation Portal</a>.
    The data there can be updated via the <code> Login Based Services > Student Profile > PI form </code>. If you have had
    a branch change, please go to the ID Cell and update your ID Card to update your branch.
  </p>
  <p>
    The changes if any will be reflected in about a week.
  </p>
</mat-dialog-content>
