#uploadedImage{
  display: block;
  border-radius: 50%;
  margin: auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#browseButton{
  display: block;
  margin: 1rem auto;
  /* margin-bottom: 0.rem; */
  width: 100%;
}

#radioGroup{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#uploadButtonGroup{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#uploadButtonGroup button{
  width: 40%;
}
