<div class="width-60">
  <md-grid-list cols="3" rowHeight="100px">
    <md-grid-tile>
      <md-select placeholder="Year" [(ngModel)]="currentYear" (change)="update()" [disabled]="loading">
        <md-option value="Any"> Any </md-option>
        <md-option *ngFor="let year of years" [value]="year">{{ year }}</md-option>
      </md-select>
    </md-grid-tile>
    <md-grid-tile>
      <md-select placeholder="Gender" [(ngModel)]="currentGender" (change)="update()" [disabled]="loading">
        <md-option value="Any"> Any </md-option>
        <md-option value="M">Male</md-option>
        <md-option value="F">Female</md-option>
      </md-select>
    </md-grid-tile>
    <md-grid-tile>
      <md-select placeholder="Hall" [(ngModel)]="currentHall" (change)="update()" [disabled]="loading">
        <md-option value="Any"> Any </md-option>
        <md-option *ngFor="let hall of halls" [value]="hall">{{ hall }}</md-option>
      </md-select>
    </md-grid-tile>
  </md-grid-list>
  <md-grid-list cols="3" rowHeight="100px">
    <md-grid-tile>
      <md-select placeholder="Programme" [(ngModel)]="currentProg" (change)="update()" [disabled]="loading">
        <md-option value="Any"> Any </md-option>
        <md-option *ngFor="let prog of progs" [value]="prog">{{ prog }}</md-option>
      </md-select>
    </md-grid-tile>
    <md-grid-tile>
      <md-select placeholder="Department" [(ngModel)]="currentDep" (change)="update()" [disabled]="loading">
        <md-option value="Any"> Any </md-option>
        <md-option *ngFor="let dep of deps" [value]="dep">{{ dep }}</md-option>
      </md-select>
    </md-grid-tile>
    <md-grid-tile>
      <md-select placeholder="Blood Group" [(ngModel)]="currentGrp" (change)="update()" [disabled]="loading">
        <md-option value="Any"> Any </md-option>
        <md-option *ngFor="let grp of bloodgrps" [value]="grp">{{ grp }}</md-option>
      </md-select>
    </md-grid-tile>
    <md-grid-tile>
    </md-grid-tile>
    <md-grid-tile>
      <md-input-container>
        <input class="text-area" #hometown mdInput placeholder="Hometown" (keyup)="addTerm(hometown.value)" [disabled]="loading">
      </md-input-container>
    </md-grid-tile>
    <md-grid-tile>
    </md-grid-tile>
    <md-grid-tile colspan="3" class="search-grid">
      <md-icon>search</md-icon>
      <md-input-container floatPlaceholder="never" class="search-box">
        <input #searchBox mdInput placeholder="Name, Username or Roll" (keyup)="searchTerm(searchBox.value)" [disabled]="loading">
      </md-input-container>
    </md-grid-tile>
  </md-grid-list>
</div>

<md-spinner *ngIf="loading"></md-spinner>
<div *ngIf="!loading">
  <masonry [options]="{ fitWidth: true }">
    <masonry-brick class="brick" *ngFor="let item of result">
      <student [student]="item"></student>
    </masonry-brick>
  </masonry>
</div>

