<div class="width-60">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <mat-form-field class="search-options">
        <mat-select placeholder="Year" [(ngModel)]="currentYear" (change)="update()" [disabled]="loading" multiple>
          <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="search-options">
        <mat-select placeholder="Gender" [(ngModel)]="currentGender" (change)="update()" [disabled]="loading">
          <mat-option value="Any"> Any </mat-option>
          <mat-option value="M">Male</mat-option>
          <mat-option value="F">Female</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="search-options">
        <mat-select placeholder="Hall" [(ngModel)]="currentHall" (change)="update()" [disabled]="loading" multiple>
          <mat-option *ngFor="let hall of halls" [value]="hall">{{ hall }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="search-options">
        <mat-select placeholder="Programme" [(ngModel)]="currentProg" (change)="update()" [disabled]="loading" multiple>
          <mat-option *ngFor="let prog of progs" [value]="prog">{{ prog }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="search-options">
        <mat-select placeholder="Department" [(ngModel)]="currentDep" (change)="update()" [disabled]="loading" multiple>
          <mat-option *ngFor="let dep of deps" [value]="dep">{{ dep }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="search-options">
        <mat-select placeholder="Blood Group" [(ngModel)]="currentGrp" (change)="update()" [disabled]="loading" multiple>
          <mat-option *ngFor="let grp of bloodgrps" [value]="grp">{{ grp }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="search-options">
        <input class="text-area" #hometown matInput placeholder="Hometown" (keyup)="addTerm(hometown.value)" [disabled]="loading">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="search-grid">
      <mat-icon class="search-icon">search</mat-icon>
      <mat-form-field floatPlaceholder="never" fxFlex="">
        <input #searchBox matInput placeholder="Name, Username or Roll" type="text" (keyup)="searchTerm(searchBox.value)">
      </mat-form-field>
      <button mat-icon-button (click)="searchTerm(searchBox.value='')" [disabled]="searchBox.value == ''">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>

<mat-spinner *ngIf="loading"></mat-spinner>
<div fxLayout="row" fxLayoutAlign="center center">
  <div *ngIf="allResults.length > 1" class="result-count">
    {{ allResults.length }} Results Found
  </div>
  <div *ngIf="allResults.length === 1" class="result-count">
    1 Result Found
  </div>
  <div *ngIf="allResults.length === 0" class="result-count">
    No Results Found
  </div>
</div>
<div *ngIf="!loading"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     (scrolled)="addMoreElements()"
     fxLayout="row wrap" fxLayoutAlign="center center">
  <search-student *ngFor="let item of result" [student]="item"></search-student>
</div>

<button mat-fab *ngIf="allResults.length > 0" class="fab" (click)="showMailDialog()">
  <mat-icon>mail</mat-icon>
</button>

<button mat-icon-button class="help" (click)="showHelpDialog()"><mat-icon> help_outline </mat-icon></button>
