<div class="width-60">
  <div fxLayout="column" fxLayoutAlign="center space-around">
    <div fxLayout="row" fxLayoutAlign="center space-around" fxLayoutWrap>
      <div>
        <md-select placeholder="Year" [(ngModel)]="currentYear" (change)="update()" [disabled]="loading" multiple>
          <md-option *ngFor="let year of years" [value]="year">{{ year }}</md-option>
        </md-select>
      </div>
      <div>
        <md-select placeholder="Gender" [(ngModel)]="currentGender" (change)="update()" [disabled]="loading">
          <md-option value="Any"> Any </md-option>
          <md-option value="M">Male</md-option>
          <md-option value="F">Female</md-option>
        </md-select>
      </div>
      <div>
        <md-select placeholder="Hall" [(ngModel)]="currentHall" (change)="update()" [disabled]="loading" multiple>
          <md-option *ngFor="let hall of halls" [value]="hall">{{ hall }}</md-option>
        </md-select>
      </div>
      <div>
        <md-select placeholder="Programme" [(ngModel)]="currentProg" (change)="update()" [disabled]="loading" multiple>
          <md-option *ngFor="let prog of progs" [value]="prog">{{ prog }}</md-option>
        </md-select>
      </div>
      <div>
        <md-select placeholder="Department" [(ngModel)]="currentDep" (change)="update()" [disabled]="loading" multiple>
          <md-option *ngFor="let dep of deps" [value]="dep">{{ dep }}</md-option>
        </md-select>
      </div>
      <div>
        <md-select placeholder="Blood Group" [(ngModel)]="currentGrp" (change)="update()" [disabled]="loading" multiple>
          <md-option *ngFor="let grp of bloodgrps" [value]="grp">{{ grp }}</md-option>
        </md-select>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <md-input-container>
        <input class="text-area" #hometown mdInput placeholder="Hometown" (keyup)="addTerm(hometown.value)" [disabled]="loading">
      </md-input-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="search-grid">
      <md-icon>search</md-icon>
      <md-input-container floatPlaceholder="never" fxFlex="">
        <input #searchBox mdInput placeholder="Name, Username or Roll" type="text" (keyup)="searchTerm(searchBox.value)">
      </md-input-container>
      <md-icon>close</md-icon>
    </div>
  </div>
</div>

<md-spinner *ngIf="loading"></md-spinner>
<div *ngIf="!loading"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     (scrolled)="addMoreElements()">
  <masonry [options]="{ fitWidth: true }">
    <masonry-brick class="brick" *ngFor="let item of result">
      <search-student [student]="item"></search-student>
    </masonry-brick>
  </masonry>
</div>

<button md-fab *ngIf="allResults.length > 0" class="fab" (click)="showMailDialog()">
  <md-icon>mail</md-icon>
</button>

<button md-icon-button class="help" (click)="showHelpDialog()"><md-icon> help_outline </md-icon></button>
